@import "materialize";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer { margin-top: 50px; }

.header {
 color: #ee6e73;
 font-weight: 300;
}

.dateinfo {
	color: #ffeb3b
}

.submit {
	margin-bottom: 10px;
}

.text-muted {
	color: #424242;
}

.btn-secondary {
  background-color: #607d8b
}